In [23]:
fruits=['apple','banana','cherry','papaya','kiwi','durian','rambutan','pineapple']

# use for loop to find a given fruit name in the list
change code--->heading

In [28]:
for fruit in fruits:
    print(fruit)

apple
banana
cherry
papaya
kiwi
durian
rambutan
pineapple

In [27]:
index = 1
for item in fruits:
    print("the item name is " + item + " at index:",index)
    index += 1

the item name is apple at index: 1
the item name is banana at index: 2
the item name is cherry at index: 3
the item name is papaya at index: 4
the item name is kiwi at index: 5
the item name is durian at index: 6
the item name is rambutan at index: 7
the item name is pineapple at index: 8

In [25]:
index = 1
for item in fruits:
    if 'apple' in item: #in means if anything words that have apple in there, it will run
        print("the item name is " + item + " at index:",index)
    index += 1

the item name is apple at index: 1
the item name is pineapple at index: 8

In [26]:
index = 1
for item in fruits:
    if 'apple' == item: # == means it will run if apple word
        print("the item name is " + item + " at index:",index)
    index += 1

the item name is apple at index: 1

In [2]:
count = 0
while count < 5:
    print(count)
    count += 1

0
1
2
3
4

In [3]:
for num in range(10): #range start 0 if we xtetapkn n end at num 9 n before 10
    if num == 5:
        break   #but coding end at 5 bc break
    print(num)

0
1
2
3
4

In [4]:
for num in range(4):
    if num == 5:
        break
    print(num)

0
1
2
3

In [5]:
for num in range(5):
    if num == 2:
        continue
    print(num)

0
1
3
4

In [6]:
for i in range(3):
    for j in range(3):
        print(i, j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2

# Assignment 2 (Loops and Iteration)

In [8]:
count = 1
while count <= 10:
    print(count)
    count += 1

1
2
3
4
5
6
7
8
9
10

In [29]:
count = 1
for i in range(1, 11): #start 1 n end before 11
    print(i)

1
2
3
4
5
6
7
8
9
10

In [10]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
 
for num in numbers:
    if num % 2 == 0:
        print(num)

2
4
6
8
10

In [11]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
 
for num in numbers:
    if num % 2 != 0:
        print(num)

1
3
5
7
9

In [12]:
for i in range(1, 6):
    for j in range(1, 6):
        print(i, "x", j, "=", i * j)
    print("------")

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
------

In [30]:
import math

for i in range(1, 6):
    for j in range(1, 6):
        print(i, "pow", j, "=", math.pow(i,j))
    print("------")

1 pow 1 = 1.0
1 pow 2 = 1.0
1 pow 3 = 1.0
1 pow 4 = 1.0
1 pow 5 = 1.0
------
2 pow 1 = 2.0
2 pow 2 = 4.0
2 pow 3 = 8.0
2 pow 4 = 16.0
2 pow 5 = 32.0
------
3 pow 1 = 3.0
3 pow 2 = 9.0
3 pow 3 = 27.0
3 pow 4 = 81.0
3 pow 5 = 243.0
------
4 pow 1 = 4.0
4 pow 2 = 16.0
4 pow 3 = 64.0
4 pow 4 = 256.0
4 pow 5 = 1024.0
------
5 pow 1 = 5.0
5 pow 2 = 25.0
5 pow 3 = 125.0
5 pow 4 = 625.0
5 pow 5 = 3125.0
------